<h1><%= @movie.title %></h1>
<% if @movie.show_timings.any? %>
  <h2>Shows for <%= @movie.title %></h2>
  <ul>
    <% @movie.show_timings.each do |show| %>
      <li><%= link_to show.show_time,
            new_movie_show_timing_booking_path(movie_id: @movie, show_timing_id: show.id)
          %>
      </li>
    <% end %>
  </ul>
  <% if user_signed_in? && current_user.admin? %>
    <p><%= link_to 'Edit this movie', edit_movie_path(@movie) %></p>
  <% end %>  
<% end %>
